# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
/.vs/MoreSlovOf/v15/*.suo
/.vs/MoreSlovOf/v15/*.db
/.vs/MoreSlovOf/v15/*.opendb
/.vs/MoreSlovOf/v15/*.db-shm
/.vs/MoreSlovOf/v15/*.db-wal
/.vs/MoreSlovOf/v15/ipch/AutoPCH/50699e6363273fe2/*.ipch
/.vs/MoreSlovOf/v15/ipch/AutoPCH/51be9530325fb8ab/*.ipch
/.vs/MoreSlovOf/v15/ipch/AutoPCH/5d9980fe3d9a0c/*.ipch
/.vs/MoreSlovOf/v15/ipch/AutoPCH/70bd0fcb0e985932/*.ipch
/.vs/MoreSlovOf/v15/ipch/AutoPCH/a1e8b8992e55ee07/*.ipch
/.vs/MoreSlovOf/v15/ipch/AutoPCH/a4b3c84f91b2f7c7/*.ipch
/.vs/MoreSlovOf/v15/ipch/AutoPCH/a8fe4b22f899b58b/*.ipch
/.vs/MoreSlovOf/v15/ipch/AutoPCH/c5c57dda74e7a851/*.ipch
/.vs/MoreSlovOf/v15/ipch/AutoPCH/c6faebae24242632/*.ipch
/.vs/MoreSlovOf/v15/ipch/AutoPCH/c799f6eb9e9f65d2/*.ipch
/.vs/MoreSlovOf/v15/ipch/AutoPCH/deb37d5fe4b0438c/*.ipch
/.vs/MoreSlovOf/v15/ipch/AutoPCH/f4606e05af337725/*.ipch
/*.sln
/*.vcxproj
/*.filters
/*.user
/bin/*.exp
/bin/*.ilk
/bin/*.pdb
/*.rc
/obj/Win32/Debug/*.log
/obj/Win32/Debug/MoreSlovOf.tlog/*.tlog
/obj/Win32/Debug/MoreSlovOf.tlog/*.lastbuildstate
/obj/Win32/Debug/*.pdb
/obj/x64/Debug/*.log
/obj/x64/Debug/MoreSlovOf.tlog/*.tlog
/obj/x64/Debug/MoreSlovOf.tlog/*.lastbuildstate
/obj/x64/Debug/*.res
/obj/x64/Debug/*.pdb
/obj/x64/Release/*.log
/obj/x64/Release/MoreSlovOf.tlog/*.tlog
/obj/x64/Release/MoreSlovOf.tlog/*.lastbuildstate
/obj/x64/Release/*.res
/obj/x64/Release/*.pdb
/obj/Win32/Debug/MoreSlovOf.tlog
/.vs/MoreSlovOf/v15/ipch/AutoPCH/9f17443d1cf23ebb/*.ipch
*.ipch
/obj/x64/Release/MoreSlovOf.tlog/unsuccessfulbuild
.vs
obj
*.zip
